/*fonts
  text: Open Sans
  headings: PT Serif Caption
*/

/*
The few tags:
.background-needed: mainly used to give text a background. This background is
essentially a rounded box, similar to what is seen on Tumblr.
.vid: for videos. It can be used for centering anything else, though.
Wrap the video inside a div with a class of vid. This will
center the video.
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif+Caption');
body {
  font-family: "Open Sans", Roboto, sans-serif;
  color: #203342;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.5vw;
  /* line-height: 5.5vw; */
  background-color: #203342;
}

main {
  max-width: 65rem;
  margin: 0 auto;
}

.background-needed {
  background-color: rgba(254, 253, 255, 0.82);
  padding: 10px;
  border-radius: 10px;
  margin: 2vw;
  min-width: 100%;
}

header {
  color: #a9c8c8;
  text-align: center;
}

h1, h2, h3 {
  font-family: "PT Serif Caption", serif;
  letter-spacing: 3px;
}

h1 {
  font-size: 8.5vw;
}

h3 {
  font-size: 4.5vw;
}

p {
  font-size: 3vw;
}

ul {
  font-size: 2.5vw;
  padding: 0 7vw;
}

a {
  text-decoration: none;
  color: #a35f23;
}

a:hover {
  color: tomato;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-size: 4vw;
  padding: 0;
}

nav ul li {
  list-style: none;
  padding: 0 1vw;
}

nav a {
  color: #d1e4f4;
}

iframe {
  width:50vw;
  height:30vw;
}

.dif {
  color: #42cbf4;
}

img {
  display: block;
  margin: auto;
  max-width: 50rem;
}

.vid {
  text-align: center;
}

footer {
  text-align: center;
  color: #fafafa;
}

#flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}